.virus-image-logo {
    background: url("https://firebasestorage.googleapis.com/v0/b/covidapp-451c6.appspot.com/o/trans-virus.png?alt=media&token=bfb6c08b-c4b3-42f0-a909-3427f4bb370a") no-repeat;
    background-size: 25px 25px;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}