<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Coronavirus Live Updates</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home-page']">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
            [ngClass]="{'disabled' : !userService.isUserAdmin() }" 
            [routerLink]="['/manage-users']"
            routerLinkActive="active">Manage Users</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ng-container *ngIf="userService.isUserSignedIn() && user">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" style="pointer-events: none;">{{ user.displayName }}</a>
                </li>
            </ul>
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="userService.signOut()">Sign Out</button>
        </ng-container>
        <ng-container *ngIf="!userService.isUserSignedIn() || !user">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="userService.signInWithGoogle()">Sign In with Google</button>
        </ng-container>
      </div>
    </div>
</nav>

<!--
<div class="mb-5">
    <div class="row" *ngIf="userService.isUserSignedIn() && user">
        <div class="col-sm-6">
                <h4 class="heading">{{ user.displayName }}</h4>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-danger" (click)="userService.signOut()">Sign Out</button>
        </div>
        <div class="row mb-1 ml-3">
            <a [routerLink]="['/manage-users']" *ngIf="userService.isUserAdmin()">Admin page: Manage Users</a>
        </div>
        
    </div>

    <div class="row" *ngIf="!userService.isUserSignedIn()">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-info" (click)="userService.signInWithGoogle()">Sign In with Google</button>
        </div>
    </div>
</div>

-->