
<ng-container *ngIf="todayData && weekData">
    <table class="table table-bordered table-striped">
        <thead class="text-center">
            <tr *ngIf="countryName == 'Worldwide'">
                <td colspan="2">{{ countryName }}</td>
            </tr>
            <tr *ngIf="countryName != 'Worldwide'">
                <td colspan="3">Worldwide > {{ countryName }}</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let case of todayData.cases">
                <td>{{ case[0] }}</td>
                <td>{{ case[1] }}</td>
            </tr>
            <tr *ngFor="let recover of todayData.recovers">
                <td>{{ recover[0] }}</td>
                <td>{{ recover[1] }}</td>
            </tr>
            <tr *ngFor="let deaths of todayData.deaths">
                <td>{{ deaths[0] }}</td>
                <td>{{ deaths[1] }}</td>
            </tr>
        </tbody>
    </table>

    <div class="my-5">
        <div class="row">
            <h4>Coronavirus cases distribution: {{ countryName }}</h4>
        </div>

        <div class="my-1" style="display: block;">
            <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>

    <div class="my-5">
        <div class="row">
            <h4>Coronavirus cases weekly distribution: {{ countryName }}</h4>
        </div>

        <div style="display: block;">
            <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          
    </div>

      
</ng-container>

