/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


thead{
    font-size: 1rem !important;
}
td.news-table {
    border-bottom-style: unset !important;
}

table.covid-table{
    border:2px solid white;
  }
table.covid-table > thead > tr > th{
    border:2px solid white;
}
table.covid-table > tbody > tr > td{
    border:2px solid white;
}

.bg-cases{
    background-color: #ffdf76 !important;
}

.bg-recoveries{
    background-color: #86c7f3 !important;
}

.bg-deaths{
    background-color: #ff89a2 !important;
}
.bg-country{
    background-color: #8cfb89 !important; //#a3f98e !important;
}

